body {
  padding: 10px;
  background-color: #1d1d1d;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  line-height: 1.5;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.recipe > h1 {
  text-decoration: wavy;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.main-header {
  font-size: 3rem;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.recipes > h2 {
  font-size: 1rem;
}

.recipes__name {
  text-transform: capitalize;
}
